*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #34495e;
}

.wrapper{
    background-color: white;
    width: 370px;
    border-radius: 7px;
    padding: 25px 30px;
}

.wrapper header{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    user-select: none;
}

.wrapper form{
    margin: 35px 0 20px;
}

form .row{
    display: flex;
    flex-direction: column;
}

form .row label{
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 10px;
    text-align: center;
}

form :where(textarea, select, button){
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
}

form .row textarea{
    border: 1px solid #999;
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
}

form .row .outer{
    height: 30px;
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding: 0 10px;
}

form .row select{
    font-size: 14px;
}

form button{
    margin-top: 10px;
    height: 40px;
    background: #2c3e50;
    color: white;
    cursor: pointer;
    font: 17px;
}

.slink{
    margin-top: 15px;
    text-align: center;
}

.slink a i{
    font-size: 25px;
    margin: 7px;
}